@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    scrollbar-color: #65a30d, #050505;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #050505;
}

::-webkit-scrollbar-thumb {
    background: #65a30d;
}

.cursor-grab {
    cursor: grab;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}